.DS_Store
.log
.idea
build
.gradle
*.so
bin
bin-ant
bin-release
gen
.metadata
obj
armeabi/
test_servers/
local.properties
secure.properties
secure.*.properties
*.zip

# This file identifies the source for the support jar and doesn't seem to like 
# variable references, so my hardcoded path probably wont match yours.
android-support-v13.jar.properties
